<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/18b9cd26-dc14-4f54-bb5e-3626e8d7976f/resourceGroups/TomsResourceGroup/providers/Microsoft.Web/sites/TomsLinuxResumeWebApp</ResourceId>
    <ResourceGroup>TomsResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://tomslinuxresumewebapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>c453e6a7-97cf-4670-a1a2-53df169a8516</ProjectGuid>
    <PublishUrl>https://tomslinuxresumewebapp.scm.azurewebsites.net/</PublishUrl>
    <UserName>$TomsLinuxResumeWebApp</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>